@charset "UTF-8";
/* CSS Document */

.surface {
	position: absolute;
	top: 90px;
	bottom: 90px;
	left: 0;
	right: 0;
}

.top-bar {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	height: 90px;
}

.bottom-bar {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 90px;
}

.bottom-bar img {
	margin-top: -200px;
	margin-left: 20px;
}

.message {
	color: white;
	position: absolute;
	top: 45%;
	left: 25%;
	font-size: 55px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0;
	z-index: 900;
}

.main-message {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 96px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0;
	z-index: 900;
}

.graphic {
	position: absolute;
	top: 45%;
	right: 25%;
}

#stat-val {
	font-size: 108px;
}


/*==============================================================*/
.header {
	background-color: #262525;
	padding-bottom: 70px;	
}

.content {
	background-color: #383737;
	color: #FFFFFF;
	font-size: 85px;
	text-align: center;
	left: 0;
    line-height: 100px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.footer {
	background-color: #262525;	
	padding-bottom: 20px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;

}

.light {
	margin-top: -15px;
}

.contentbike {
	background-color: #0fa254;
	color: #FFFFFF;
	font-size: 55px;
	text-align: left;
	left: 0;
    line-height: 60px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.footerbike {
	background-color: #0b8343;	
	padding-bottom: 20px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.headerbike {
	background-color: #0b8343;
	padding-bottom: 70px;	
}


.row .col-lg-5 img {
	text-align: center;
}

.headermacbook {
	background-color: #2570d7;
	padding-bottom: 70px;	
}

.footermacbook {
	background-color: #2570d7;	
	padding-bottom: 20px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.contentmacbook {
	background-color: #568ad2;
	color: #FFFFFF;
	font-size: 55px;
	text-align: left;
	left: 0;
    line-height: 60px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.contentwashing {
	background-color: #d3756b;
	color: #FFFFFF;
	font-size: 55px;
	text-align: left;
	left: 0;
    line-height: 60px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.footerwashing {
	background-color: #d73625;	
	padding-bottom: 20px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.headerwashing {
		background-color: #d73625;
	padding-bottom: 70px;
}

.contentphone {
	background-color: #c46fd4;
	color: #FFFFFF;
	font-size: 55px;
	text-align: left;
	left: 0;
    line-height: 60px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.footerphone {
	background-color: #b920d4;	
	padding-bottom: 20px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.headerphone {
		background-color: #b920d4;
	padding-bottom: 70px;
}

.contentburrito {
	background-color: #fbc673;
	color: #FFFFFF;
	font-size: 60px;
	text-align: left;
	left: 0;
    line-height: 60px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.footerburrito {
	background-color: #fba51e;	
	padding-bottom: 20px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.headerburrito {
		background-color: #fba51e;
	padding-bottom: 70px;
}
